<%= form_with scope: :article ,url: create_article_path, local: true do |f| %>
    
    <p>
        <% if @article.errors.any?  %>
            <ul>
                <% @article.errors.full_messages.each do |message| %>
                    <li>
                        <%= message %>
                    </li>
                <% end %>
            </ul>
        <% end %>
    </p>
    
    <div class="mb-3">
        <%= f.label :name, for:"name", class:"form-label" %>
        <%= f.text_field :name, class: "form-control", id:"name" %>
    </div>
    <div class="mb-3">
        <%= f.label :body, for:"body", class:"form-label" %>
        <%= f.text_area :body, class: "form-control", id:"body" %>
    </div>
    <div class="mb-3">
        <%= f.submit class: "btn btn-primary" %>
        <%= link_to "Back to Articles", articles_path, class: "btn btn-primary", role: "button" %>
    </div>
<% end %>