<h1>Users</h1>
<%= link_to "Back to Home Page", root_path, class:"btn btn-primary", role: "button" %>
<hr class="my-4"/>
<table class='table'>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Password</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
        <tr>
            <td><%= user.id %></td>
            <td><%= user.name %></td>
            <td><%= user.password %></td>
            <td><%= button_to "Edit", edit_user_path(user.id), {method: :get, class: "btn btn-info"} %></td>
            <td><%= button_to "Delete", delete_user_path(user.id), {method: :delete, class: "btn btn-danger"} %></td>
        </tr>
    <% end %>
    </tbody>
</table>
<%= button_to '+ New User' , new_user_path, {method: :get, class: "btn btn-primary"} %>