<%= form_with scope: :user ,url: create_user_path, local: true do |f| %>
    
    <p>
        <% if @user.errors.any?  %>
            <ul>
                <% @user.errors.full_messages.each do |message| %>
                    <li>
                        <%= message %>
                    </li>
                <% end %>
            </ul>
        <% end %>
    </p>
    
    <p>
        <%= f.label :name %>
        <br />
        <%= f.text_field :name %>
    </p>
    <p>
        <%= f.label :password %>
        <br />
        <%= f.text_area :password %>
    </p>
    <p>
        <%= f.submit %>
    </p>
<% end %>